body {
	/*display: block;*/
	position: absolute;
    top: 35%;
    left: 50%;
    margin: -165px 0 0 -165px;
    background: lightblue;

}

.moon {
  	width: 6em;
  	height: 6em;
  	position: absolute;
  	top: -11em;
  	left: 365px;
  	border-radius: 50%;
  	box-shadow: 1em 1em 0 0 gold;
} 
.roof { 
	width: 0;
	height: 0;
	border-left: 174px solid transparent;
	border-right: 165px solid transparent;
	border-bottom: 163px solid indigo;
 }

.chimney {
	height: 90px;
	width:30px;
	background:indigo;
	position: absolute;
    top: 25.5%;
    left: 78%;
}

 .square { 
	width:300px;
	height:315px;
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	background: wheat;
	left: 20px;
	position: absolute;
 }





.door { 
	width:81px;
	height:125px;
	border-width:2px;
	border-style: double;
	background: #CD5C5C;
	position: absolute;
	left: 175px;
	top: 134px;
	
 }

 .handle {
 	width: 13px;
 	height: 13px;
	background: black;
	border-radius: 50%;
	position: absolute;
	top: 55%;
	left: 68%;
}


 .stairs {
 	width: 105px;
 	height: 22px;
 	background: darkred;
 	border-width:2px;
	border-style: double;
	position: absolute;
    top: 82.5%;
    left: 54.3%;	
 	
 }
 .stairs2 {
 	width: 125px;
 	height: 29px;
 	background: darkred;
 	border-width:2px;
	border-style: double;
	position: absolute;
    top: 90%;
    left: 51%;	
 }
  .foundation  {
 	width: 300px;
 	height: 38px;
 	background: #C0C0C0;
 	border-width:2px;
	position: absolute;
	top:277px;
	margin-left:0px;
 }

 .border1 { 
 	background: #B0C4DE;
 	width:85px;
	height:85px;
 	border-width:5px;
	border-style: solid;
	top:135px;
	left: 25px;
	position: absolute;
  }

 .window1 {
 	background: #CD6D45;
	height: 85px; width: 5px;
	position: absolute; 
	left: 38px;
	top:0px;
}
.window1:after {
	content: "";
	height: 5px; width: 85px;
	background: #CD6D45;
	position: absolute; 
	left: -38px; 
	top: 38px;
	
}


.window3 {
 	background: #CD6D45;
	height: 55px; width: 5px;
	position: absolute; 
	left: 35px;
	top:0px;


}
.window3:after {
	content: "";
	height: 5px; 
	background: #CD6D45;
	position: absolute; 
	left: -15px; 
	top: 15px;

	
	
}
.border3 { 
	background: #B0C4DE;
 	width:74px;
	height:65px;
 	border-width:5px;
	border-style: solid;
	position: absolute;
	top:23px;
	left: 105px;
  }

 .balcony {
 	width:104px;
 	height: 25px;
 	background: black;
 	left:95px;
 	top:75px;
 	position: absolute;
 }
